@{
    ViewData["Title"] = "My Tickets";
}

<div class="alert alert-success" role="alert">
    Your ticket has been created successfully!
</div>

<h2>@ViewData["Title"]</h2>
<hr />

<p>This page to show a list of submitted tickets.</p>